---
Language:              Cpp
Standard:              Cpp11
BasedOnStyle:          Chromium
ColumnLimit:           100
IndentWidth:           4
TabWidth:              4
AccessModifierOffset:  -2
BreakBeforeBraces:     Linux
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: All
