# Compiled Object files
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Executables
scripts/artus

# Extended
*~
work.*
*__init__.py
*.formatted
*.root
!ntuples/*.root
!test/*.root
logs/
*.py.json
cache
*.log

# plotting outputs
plots/
work
websync/
store
