# Compiled Object files
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Executables
scripts/artus

# Extended
*~
work.*
*__init__.py
*.formatted
*.root

!data/pileup/*.root
!data/pileup/*/*.root
!data/pileup/*/*/*.root
!data/scalefactors/*/*.root
!data/cleaning/*.root
!data/cleaning/*/*.root
!data/cleaning/*/*/*.root

cfg/excalibur/*/*/*.py
!_make_configs.py
!common.py

!ntuples/*.root
!test/*.root
logs/
*.py.json
cache
*.log

# plotting outputs
plots/
work
websync/
store

# PyCharm IDE directory
.idea
.vscode/settings.json
