# Compiled Object files
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Executables
scripts/artus

# Extended
*~
work.*
*__init__.py
*.formatted
*.root
logs/
*.py.json

ZJetAnalysis/plotting/plots/
ZJetAnalysis/plotting/websync/
*.log
