import configtools
import os
import sys
JEC = '{{ jec }}'

def config():
    cfg = configtools.getConfig('data', {{ year }}, 'mm', JEC=JEC)
    cfg["InputFiles"].set_input(
        bmspath='{{ dataset_files }}',
        )
    cfg = configtools.expand(cfg, 
                                ['nocuts','zjetcuts'],
                                ['None','L1L2L3Res'])
    configtools.add_quantities(cfg, [   #'mu1IDSFWeight','mu1IsoSFWeight','mu1TrackingSFWeight','mu1TriggerSFWeight',
                                        #'mu2IDSFWeight','mu2IsoSFWeight','mu2TrackingSFWeight','mu2TriggerSFWeight',
                                        'leptonIDSFWeight','leptonIDSFWeightUp','leptonIDSFWeightDown',
                                        'leptonIsoSFWeight','leptonIsoSFWeightUp','leptonIsoSFWeightDown',
                                        'leptonTrackingSFWeight','leptonTrackingSFWeightUp','leptonTrackingSFWeightDown',
                                        'leptonTriggerSFWeight','leptonTriggerSFWeightUp','leptonTriggerSFWeightDown',
                                        'jet1puidraw',
                                        ])

##### Set Trigger: ######
    cfg['HltPaths'] = [                                            
         # -- lowest pT unprescaled trigger for the whole of 2017                
         # https://indico.cern.ch/event/682891/contributions/2810364/attachments/1570825/2477991/20171206_CMSWeek_MuonHLTReport_KPLee_v3_1.pdf         'HLT_IsoMu27',                          
         'HLT_IsoMu27',                          
     ]                                                       

##### Add Producers: #####
    cfg['Processors'] = ['producer:MuonTriggerMatchingProducer',] + cfg['Processors']
    cfg['Processors'].insert(cfg['Processors'].index('producer:ValidMuonsProducer'), 'producer:MuonCorrectionsProducer',)
    cfg['Processors'] += ['producer:LeptonIDSFProducer','producer:LeptonIsoSFProducer','producer:LeptonTriggerSFProducer','producer:LeptonSFProducer',]
##### Specify input sources for Jets & Muons: #####
    cfg['VertexSummary'] = 'offlinePrimaryVerticesSummary'
    cfg['Jec'] = os.path.join(configtools.getPath(), '../JECDatabase/textFiles/{{ jec }}/{{ jec }}')
    cfg['JetID'] = 'loose'

##### Change selection: (see also http://cms.cern.ch/iCMS/analysisadmin/cadilines?line=SMP-17-002&tp=an&id=1891&ancode=SMP-17-002) #####
    cfg['MuonIso'] = 'loose_{{ year }}'
    cfg['MuonID'] = 'tight'
    cfg['CutMuonPtMin'] = 28.0
    cfg['CutMuonEtaMax'] = 2.4
    cfg['MuonRochesterCorrectionsFile'] = os.path.join(configtools.getPath(),'../Artus/KappaAnalysis/data/rochcorr/RoccoR{{ year }}.txt')
    cfg['MuonEnergyCorrection'] = 'rochcorr{{ year }}'
    cfg['ZMassRange'] = 20.0
    cfg['CutLeadingJetPtMin'] = 20.0
    cfg['MinPUJetID'] = -0.2 

#### Select Jets ######
    cfg['TaggedJets'] = 'ak{{ jet_radius }}PFJetsCHS'
#    cfg['GenJets'] = 'ak4GenJetsNoNu'   
#    cfg['RC'] = False
#    cfg['TypeIJetPtMin'] =0

##### LeptonSF files: #####
    cfg['LeptonSFVariation'] = True
    cfg['LeptonSFReversedAxes'] = True
    cfg['LeptonIDSFRootfile'] = os.path.join(configtools.getPath(),"data/scalefactors/2017/ID_EfficienciesAndSF_BCDEF_Data_Run17Nov2017.root")
    cfg['LeptonIsoSFRootfile'] = os.path.join(configtools.getPath(),"data/scalefactors/2017/Iso_EfficienciesAndSF_BCDEF_Data_Run17Nov2017.root")
    cfg['LeptonTriggerSFRootfile'] = os.path.join(configtools.getPath(),"data/scalefactors/2017/Trigger_EfficienciesAndSF_BCDEF_Nov17Nov2017.root")
#    cfg['LeptonTrackingSFRootfile'] = os.path.join(configtools.getPath(),"data/scalefactors/2016latest/Tracking_EfficienciesAndSF_BCDEFGH.root")
    cfg['LeptonIDSFHistogramName'] = 'NUM_TightID_DEN_genTracks_pt_abseta'
    cfg['LeptonIsoSFHistogramName'] = 'NUM_LooseRelIso_DEN_TightIDandIPCut_pt_abseta'
    cfg['LeptonTriggerSFHistogramName'] = 'IsoMu27_PtEtaBins/efficienciesDATA/pt_abseta_DATA'


    return cfg 
