import configtools
import os
import sys
JEC = '{{ jec }}'

def config():
    cfg = configtools.getConfig('data', {{ year }}, 'mm', JEC=JEC)
    cfg["InputFiles"].set_input(
        path='{{ dataset_files }}',
        )
    cfg = configtools.expand(cfg, 
                                ['nocuts','zjetcuts'],
                                ['None','L1L2L3Res'])
    configtools.remove_quantities(cfg, [
        'jet1area','jet1l1', 'jet1rc', 'jet1l2','jet1ptraw', 'jet1ptl1',
        'mpf', 'rawmpf', 'rawmet', 'rawmetphi', 'sumet','mettype1vecpt', 'mettype1pt',
        ])
    configtools.add_quantities(cfg, [   #'mu1IDSFWeight','mu1IsoSFWeight','mu1TrackingSFWeight','mu1TriggerSFWeight',
                                        #'mu2IDSFWeight','mu2IsoSFWeight','mu2TrackingSFWeight','mu2TriggerSFWeight',
                                        'leptonIDSFWeight','leptonIDSFWeightUp','leptonIDSFWeightDown',
                                        'leptonIsoSFWeight','leptonIsoSFWeightUp','leptonIsoSFWeightDown',
                                        'leptonTriggerSFWeight','leptonTriggerSFWeightUp','leptonTriggerSFWeightDown',
                                        'jet1puidraw', 'prefiringWeight','prefiringWeightUp','prefiringWeightDown',
                                        'puJetIDWeight',
                                        ])

##### Set Trigger: ######
    cfg['HltPaths'] = [                                            
        # https://twiki.cern.ch/twiki/bin/view/CMS/MuonUL2018#Medium_pT_from_15_to_200_GeV
        # Scale Factors only provided for IsoMu24 
	    'HLT_IsoMu24',                          
        ]                                                       

##### Set Golden JSON ####
    cfg['JsonFiles'] = [os.path.join(configtools.getPath(), 'data/json/{{ good_run_json }}')]

    # Cleaner is added multiple times in base config, remove all
    while("producer:JetEtaPhiCleaner" in cfg['Processors']):
        cfg['Processors'].remove("producer:JetEtaPhiCleaner")

##### Add Producers: #####
    cfg['Processors'] = ['producer:MuonTriggerMatchingProducer',] + cfg['Processors']
    cfg['Processors'].insert(cfg['Processors'].index('producer:ValidMuonsProducer'), 'producer:MuonCorrectionsProducer',)
    cfg['Processors'].insert(cfg['Processors'].index('producer:ValidMuonsProducer'), 'producer:PFCandidatesProducer',)
    #cfg['Processors'].insert(cfg['Processors'].index('producer:ValidMuonsProducer'), 'producer:PrefiringWeightProducer',) 
    cfg['Processors'].insert(cfg['Processors'].index('producer:ValidMuonsProducer')+1, 'producer:ZJetDressedMuonsProducer',)
    cfg['Processors'] += ['producer:LeptonIDSFProducer','producer:LeptonIsoSFProducer','producer:LeptonTriggerSFProducer']
    #cfg['Processors'] += ['producer:PUJetIDWeightProducer']
    cfg['Processors'] += ['filter:METFiltersFilter']
    cfg['METFilterNames'] = ["Flag_goodVertices", "Flag_globalSuperTightHalo2016Filter", "Flag_HBHENoiseFilter", "Flag_HBHENoiseIsoFilter",
                             "Flag_EcalDeadCellTriggerPrimitiveFilter", "Flag_BadPFMuonFilter", "Flag_BadPFMuonDzFilter"]

##### Specify input sources for Jets & Muons: #####
    cfg['VertexSummary'] = 'offlinePrimaryVerticesSummary'
    cfg['MaxZJetDressedMuonDeltaR'] = 0.1
    cfg['ValidMuonsInput'] = "corrected"
    cfg['PackedPFCandidates'] = 'pfCandidates'

##### Jets
    cfg['PUJetIDModuleName'] = 'pileupJetId'  # for slimmed Jets
    cfg['TaggedJets'] = 'ak{{ jet_radius }}PFJetsCHS'
    cfg['UseObjectJetYCut'] = True
    cfg['Jec'] = os.path.join(configtools.getPath(), '../JECDatabase/textFiles/{{ jec }}/{{ jec }}')
    cfg['JetID'] = 'tightlepveto'
    cfg['PUJetID'] = 'medium'
    cfg['DeltaRMatchingRecoJetGenJet'] = 0.2
    cfg['CutLeadingJetPtMin'] = 10.0
    cfg['UseObjectJetYCut'] = True
    cfg['EnableTypeIModification'] = False
    cfg['PUJetIDSelectionMaxPt'] = 50.0
    # cfg['PUEffFilename'] = os.path.join(configtools.getPath(),"data/scalefactors/run2/PUID_80XTraining_EffSFandUncties.root")  # TODO


##### Change selection: (see also http://cms.cern.ch/iCMS/analysisadmin/cadilines?line=SMP-17-002&tp=an&id=1891&ancode=SMP-17-002) #####
    cfg['MuonIso'] = 'loose'
    cfg['MuonID'] = 'tight'
    cfg['CutMuonPtMin'] = 28.0
    cfg['CutMuonEtaMax'] = 2.4
    cfg['MuonRochesterCorrectionsFile'] = os.path.join(configtools.getPath(),'../Artus/KappaAnalysis/data/rochcorr/{{ roccor }}')
    cfg['MuonEnergyCorrection'] = 'rochcorr{{ year }}ul'
    cfg['ZMassRange'] = 22.0

##### LeptonSF files: #####
    cfg['LeptonSFVariation'] = True
    cfg['LeptonSFReversedAxes'] = True
    cfg['LeptonIDSFRootfile'] = os.path.join(configtools.getPath(),"data/scalefactors/2018ul/Efficiencies_muon_generalTracks_Z_Run2018_UL_ID.root")
    cfg['LeptonIsoSFRootfile'] = os.path.join(configtools.getPath(),"data/scalefactors/2018ul/Efficiencies_muon_generalTracks_Z_Run2018_UL_ISO.root")
    cfg['LeptonTriggerSFRootfile'] = os.path.join(configtools.getPath(),"data/scalefactors/2018ul/Efficiencies_muon_generalTracks_Z_Run2018_UL_SingleMuonTriggers.root")
    cfg['LeptonIDSFHistogramName'] = 'NUM_TightID_DEN_TrackerMuons_abseta_pt_efficiencyData'
    cfg['LeptonIsoSFHistogramName'] = 'NUM_LooseRelIso_DEN_TightIDandIPCut_abseta_pt_efficiencyData'
    cfg['LeptonTriggerSFHistogramName'] = 'NUM_IsoMu24_DEN_CutBasedIdTight_and_PFIsoTight_eta_pt_efficiencyData'

##### Prefiring Weights ###### only 2016 and 2017
#    cfg['PrefiringJetWeightFilename'] = os.path.join(configtools.getPath(),"data/prefiring_weights/2017/L1prefiring_jetpt_2017BtoF.root")
#    cfg['PrefiringJetWeightHistName'] = "L1prefiring_jetpt_2017BtoF"
#    cfg['PrefiringPhotonWeightFilename'] = os.path.join(configtools.getPath(),"data/prefiring_weights/2017/L1prefiring_photonpt_2017BtoF.root")
#    cfg['PrefiringPhotonWeightHistName'] = "L1prefiring_photonpt_2017BtoF"

    return cfg 
